@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.App{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome-container, .main-page {
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 400px;
}
.welcome-container:hover{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
}

.welcome-container h1 {
    color:#6c63ff;
    margin-bottom: 1rem;
}

.welcome-container p {
    color: #666;
    margin-bottom: 2rem;
}

.welcome-container button {
    background: #6c63ff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: ease 0.3s;
}

.welcome-container button:hover {
    background: #5754d9;
}

.hidden {
    display: none;
}